[Unit]
Description=CinePI Qt Quick GUI
After=network.target graphical.target cinepi-raw.service
Wants=cinepi-raw.service

[Service]
ExecStart=/home/pi/kurokesu-cinepi/scripts/run-qt-gui.sh
WorkingDirectory=/home/pi
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=3
User=pi
Environment=XDG_RUNTIME_DIR=/run/user/1000

[Install]
WantedBy=multi-user.target
