[Unit]
Description=CinePI RAW Camera Backend
After=network.target redis-server.service
Wants=redis-server.service

[Service]
ExecStart=/home/pi/kurokesu-cinepi/scripts/run-raw.sh
WorkingDirectory=/home/pi
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=3
User=pi

[Install]
WantedBy=multi-user.target
